absl-py==2.1.0
actionlib==1.14.0
angles==1.9.13
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
backcall==0.2.0
backports.tarfile==1.2.0
bayesian-belief-networks==2.1.28
bondpy==1.8.6
cachetools==5.3.3
camera-calibration-parsers==1.12.0
camera-calibration==1.17.0
catkin-pkg==1.0.0
catkin==0.8.10
certifi==2024.6.2
cffi==1.16.0
chaplus-ros==2.1.28
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.1.1
controller-manager-msgs==0.20.0
controller-manager==0.20.0
cryptography==42.0.8
cv-bridge==1.16.2
cycler==0.12.1
decorator==5.1.1
detr==0.0.0
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distro==1.9.0
dm-control==1.0.14
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
docutils==0.20.1
dynamic-reconfigure==1.7.3
einops==0.8.0
etils==1.3.0
executing==2.0.1
filelock==3.14.0
fonttools==4.53.0
freetype-py==2.4.0
fsspec==2024.5.0
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gdrive-ros==2.1.28
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
getkey==0.6.5
gitdb==4.0.11
gitpython==3.1.43
glfw==2.7.0
google-auth-oauthlib==1.0.0
google-auth==2.30.0
google-chat-ros==2.1.28
grpcio==1.64.1
gym-notices==0.0.8
gym==0.23.1
h5py-cache==1.0
h5py==3.11.0
humanoid==1.0.0
hydra-core==1.3.2
idna==3.7
image-geometry==1.16.2
imageio==2.34.1
imagesift==1.2.17
importlib-metadata==7.2.0
importlib-resources==6.4.0
influxdb-store==2.1.28
interactive-markers==1.12.0
ipython==8.12.3
isaacgym==1.0rc4
isaacgymenvs==1.5.1
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
jeepney==0.8.0
jinja2==3.1.4
joint-state-publisher-gui==1.15.1
joint-state-publisher==1.15.1
joy-mouse==0.1.17
jsk-data==2.2.12
jsk-network-tools==2.2.12
jsk-perception==1.2.17
jsk-recognition-msgs==1.2.17
jsk-recognition-utils==1.2.17
jsk-rqt-plugins==2.1.8
jsk-rviz-plugins==2.1.8
jsk-teleop-joy==0.1.17
jsk-tools==2.2.12
jsk-topic-tools==2.2.12
julius-ros==2.1.28
keyring==25.2.1
kiwisolver==1.4.5
labmaze==1.0.6
laser-geometry==1.6.7
lcm==1.5.0
legged-gym==1.0.0
lxml==5.2.2
markdown-it-py==3.0.0
markdown==3.6
markupsafe==2.1.5
matplot==0.1.9
matplotlib-inline==0.1.7
matplotlib==3.7.5
mdurl==0.1.2
message-filters==1.16.0
more-itertools==10.3.0
moveit-core==1.1.14
mpmath==1.3.0
mujoco-python-viewer==0.1.4
mujoco==2.3.6
networkx==2.2
nfc-ros==2.1.28
nh3==0.2.18
ninja==1.11.1.1
numpy==1.20.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.16.1
opencv-python==4.9.0.80
openni2-launch==1.6.1
packaging==24.1
parso==0.8.4
pathtools==0.1.2
pexpect==4.9.0
pgm-learner==2.1.28
pickleshare==0.7.5
pillow==10.3.0
pip==24.0
pkginfo==1.10.0
platformdirs==4.2.2
promise==2.3
prompt-toolkit==3.0.45
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1-modules==0.4.0
pyasn1==0.6.0
pycollada==0.6
pycparser==2.22
pyglet==2.0.15
pygments==2.18.0
pyloco==0.0.139
pyopengl==3.1.0
pyparsing==3.1.2
pyquaternion==0.9.9
pyrender==0.1.45
pysdf==0.1.9
python-dateutil==2.9.0.post0
python-qt-binding==0.4.4
pyvirtualdisplay==3.0
pyyaml==6.0.1
qt-dotgraph==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
readme-renderer==43.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests==2.32.3
resource-retriever==1.12.7
respeaker-ros==2.1.28
rfc3986==2.0.0
rich==13.7.1
rl-games==1.6.1
ros-speech-recognition==2.1.28
rosbag==1.16.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospkg==1.5.1
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rostwitter==2.1.28
rosunit==1.15.8
roswtf==1.16.0
rqt-action==0.4.9
rqt-bag-plugins==0.5.1
rqt-bag==0.5.1
rqt-console==0.4.12
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui-py==0.5.3
rqt-gui==0.5.3
rqt-image-view==0.4.17
rqt-launch==0.4.9
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.3
rqt-py-console==0.4.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.4
rqt-top==0.4.10
rqt-topic==0.4.13
rqt-web==0.4.10
rsa==4.9
rsl-rl==1.0.2
rviz==1.14.25
scipy==1.10.1
secretstorage==3.3.3
sensor-msgs==1.13.1
sentry-sdk==2.6.0
setproctitle==1.3.3
setuptools==70.1.0
shortuuid==1.0.13
simplewebsocketserver==0.1.2
six==1.16.0
smach-ros==2.5.2
smach-viewer==4.1.0
smach==2.5.2
smclib==1.8.6
smmap==5.0.1
some-package==0.1
sound-play==0.3.17
srdfdom==0.6.4
stack-data==0.6.3
switchbot-ros==2.1.28
sympy==1.12
tensorboard-data-server==0.7.2
tensorboard==2.14.0
tensorboardx==2.6.2.2
termcolor==2.4.0
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
tf==1.13.2
topic-tools==1.16.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
traitlets==5.14.3
transformations==2022.9.26
trimesh==3.23.5
triton==2.3.1
twine==5.1.1
typing-extensions==4.12.0
typing==3.7.4.3
urdfdom-py==0.4.6
urdfpy==0.0.22
urllib3==2.2.2
ushlex==0.99.1
wandb==0.12.21
warp-lang==0.10.1
wcwidth==0.2.13
websocket-client==1.8.0
werkzeug==3.0.3
wheel==0.43.0
xacro==1.14.18
zipp==3.19.0